body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  display: block;
}

.form_signIn, .form_signUp {
  margin-left: 15% !important;
  margin-right: 15% !important;
}

.form_signIn > .ant-avatar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  display: block;
}

.ant-form-explain {
  white-space: pre-wrap;
}

.ant-form-item {
  margin-bottom: 10px !important;
}